<!DOCTYPE html>

<html>
    <head>
        <title>Reservation</title>
        <link rel = "icon" href = "/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
        <body>
            <div class = "main-content">
                {{>header}}

                <p>Use this site to make a reservation</p>

                <form action = "/post" method="POST"> 
                    <input name = "name" placeholder = "Name">
                    <input name = "location" placeholder = "Location">
                    <input type = "date" name = "startDate" placeholder = "Start Date">
                    <input type = "date" name = "endDate" placeholder = "End Date">
                    <button>Submit</button>
                </form>
                <p id = "message-1"></p>
                <p id = "message-2"></p>
                <p id = "Reservation"></p>
                <p id = "Name"></p>
                <p id = "Location"></p>
                <p id = "Start-Date"></p>
                <p id = "End-Date"></p>

            </div>
            {{>footer}}

            <script src="/js/app.js"></script>

        </body>
   
</html>