
<header>
    <h1>{{title}}</h1>

    <a href = "/">Make a reservation</a>
    <a href = "/myReservations"> See your reservation</a>
    <a href ="/about">About</a>
    <a href ="/help">Help</a>
</header>